.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #592c84;
  height: 45px;
  padding: 0 10px 0 10px;
}

.section-container {
  display: flex;
  justify-content: space-between;
  height: 36px;
  width: 80px;
}

.item {
  height: 30px;
  width: 30px;
  align-self: center;
  cursor: pointer;
}

.item-2 {
  height: 26px;
  width: 26px;
  align-self: center;
  cursor: pointer;
}

.profile-photo {
  height: 36px;
  width: 36px;
  border-radius: 36px;
}
