.card-wrapper {
  display: flex;
  flex-direction: column;
  max-height: 420px;
  max-width: 260px;
  background-color: #222;
  color: #fff;
  padding: 10px 8px 6px 6px;
  border-radius: 6px;
  margin-right: 10px;
}

.card-title {
  margin: 10px 0 6px 10px;
  font-size: 15px;
}

.cards-container {
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.task-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 240px;
  max-height: 800px;
  background-color: #000;
  border-radius: 6px;
  margin: 0 3px 8px 0;
  padding: 10px 6px 0 6px;
  /* margin: 10px 6px 0 6px; */
}

.clasification-container {
  display: flex;
  width: fit-content;
  margin-left: 6px;
}

.clasification-container h2 {
  background-color: #592c84;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  font-size: 12px;
  margin-right: 6px;
}

.task-description {
  font-size: 14px;
  max-width: 95%;
  height: 40px;
  margin: 0 0 0 6px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.long-description-assigned-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6px 6px 10px 20px;
}

.assigned-photo {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.add-a-card-wrapper {
  width: 100%;
}

.add-a-card-container {
  display: flex;
  align-items: center;
  margin: 10px 6px 10px 20px;
  width: 38%;
  justify-content: space-between;
  cursor: pointer;
}

.add-a-card-button {
  background-color: transparent;
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.title-deploy-container {
  display: flex;
  justify-content: space-between;
  max-width: 240px;
  align-items: center;
}

.deploy-button {
  width: 20px;
  height: 20px;
}

.task-image {
  max-height: 130px;
  border-radius: 6px;
}

/* ICONS */
.plus-icon {
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.deploy-button {
  width: 13px;
  height: 13px;
  cursor: pointer;
}

.long-description-icon {
  width: 10px;
  height: 10px;
  cursor: pointer;
}

/* GENERAL SCROLLBAR */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background: #555;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}

::-webkit-scrollbar-corner {
  display: none;
}

/* CUSTOM SCROLLBARS */
.task-description::-webkit-scrollbar {
  width: 2px;
}

.task-description::-webkit-scrollbar-track {
  background: #000;
}
