body {
  background-color: #111214;
  width: 100%;
}

.content-wrapper {
  margin: 0 20px 0 20px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.boards-section-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: orange;
  flex-direction: column;
  width: 45%;
}

.mini-boards-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.title {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

.mini-board {
  background-color: #592c84;
  width: 200px;
  height: 130px;
  border-radius: 5px;
}

.mini-board-title {
  color: #fff;
  font-size: 15px;
  padding: 10px 0 0 10px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .content-wrapper {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .title {
    font-size: 10px;
  }

  .title-icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }

  .boards-section-container {
    flex-flow: column wrap;
    width: 95%;
  }

  .mini-board {
    width: 90px;
    height: 50px;
  }

  .mini-board-title {
    font-size: 8px;
    padding: 8px 0 0 8px;
  }
}
